[2021-12-03 18:58] tsalo commented on #146
@Shotgunosine WDYT of this?

![image](https://user-images.githubusercontent.com/8228902/144657971-c9d6a114-2314-4ae1-a6f7-0d9037e19051.png)

[2021-12-03 19:00] Shotgunosine commented on #146
Looks great, thanks!

On Fri, Dec 3, 2021 at 1:58 PM Taylor Salo ***@***.***> wrote:

[2021-12-06 18:07] #826 closed

[2021-12-07 21:48] handwerkerd opened #833 "OHBM 2022 Abstract(s)"
### Summary

I wrote a draft of the tedana abstract for OHBM 2022. [Here it is.](https://docs.google.com/document/d/1AnLP_dX59fNHkrL6ks1VGiI6FmoIt3C6FlEA9KZAmuE/edit?usp=sharing)

### Additional Detail

If people want to share other tedana connected abstracts in the comments, please do so.

### Next Steps

- @ME-ICA/tedana-devs and others are welcome to take a look and make comments & additions. A

[2021-12-10 14:52] smoia commented on #778
@tsalo, would it be ok if instead of bids derivatives I put everything in OSF? I did not prepare them for BIDS, and I don't have the time to do so before loosing access to the resources (I'm transferring).

[2021-12-10 15:04] tsalo commented on #778
I think OSF would be a great place to put the files. It would be nice to organize/name the files on the OSF according to BIDS, but as long as all of the necessary files and metadata are available, we could always do that at a later date.

[2021-12-13 16:21] handwerkerd commented on #833
@manfredg Because of your PR, I've listed you as a potential author for the tedana OHBM abstract this year. I'm realizing I don't have an email address for you. Could you please confirm whether or not you want to be an author and provide the relevant info? Also, thank you for your contribution and welcome to the community!

[2021-12-14 21:45] 62442katieb commented on #833
Hi @handwerkerd sorry for the delay in responding. Yes, I would like to be an author, thanks for reaching out!

[2021-12-15 18:57] jsheunis commented on #833
@handwerkerd sorry for my absence in this thread. I'm very happy to be included. I've worked through the abstract and it looks good to me (great to see all the updates listed!). I've also included my details in the author table.

[2022-01-02 18:31] tsalo commented on #690
Given ME-ICA/multi-echo-data-analysis#11, I am going to close this issue. We can always port some stuff back over to the tedana documentation later, but I think I'd rather keep most of the theoretical background/methods walkthrough stuff in the Jupyter book from now on, to keep the tedana repo lighter.

[2022-01-02 18:31] #690 closed

[2022-01-17 18:27] handwerkerd opened #834 "Make MA-PCA criteria curves more accessible to users"
### Summary

The number of PCA components is defined using one of several methods. [A recent neurostars question](https://neurostars.org/t/tedana-mask-and-components/21117/10) and an issue I've been examining would have been easier to answer if the criteria curves used to calculate the number of components were more accessible. I propose outputting these curves either by default or when the --verb

[2022-01-17 19:43] eurunuela commented on #834
Do you think adding a "selection" array or dictionary would be enough? It could be something like `mapca.selection_ = {"aic": 67, "kic": 56, "mdl": 36}`.

I personally think we should save the plot and log the selection numbers.

[2022-01-18 02:23] handwerkerd commented on #821
The decision was made at the last meeting to default to Thursdays and give people a chance to say if there are any issues.

[2022-01-18 02:34] handwerkerd opened #835 "January Developers' call. THURSDAY, 1/20/2022"
Our next dev call is scheduled for THURSDAY, 1/20 at 4:00 PM CET / 10:00 AM EDT / 2:00PM UTC / 7:00 AM PST
[Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+January+Dev+Call&iso=20220120T10&p1=263&ah=1)
Note this is our newly shifted Thursday time. If you'd attend, but the time is a problem let us know!

https://nih.zoomgov.com/j/1609948048?pwd=NkhrVGVLS3hISVZ

[2022-01-18 15:19] tsalo commented on #834
I think we should leverage the "classification" and "rationale" columns of the PCA component table, and retain the full PCA mixing matrix. When we shift from "rationale" to "tags", we can also add "aic_accepted", "kic_accepted", and "mdl_accepted" tags, right?

[2022-01-20 03:11] handwerkerd commented on #834
There are a bunch of single values that should be saved in a clear location. I'd add % variance explained by the PCA to the three selection criteria.
FWIW, the decistion tree modularization has a dictionary & saved file called `cross_component_metrics` I could see making a new file called `PCA_cross_component_metrics` now and then the decision tree's file would become `ICA_cross_component_metrics`

[2022-01-20 03:13] #833 closed

[2022-01-20 03:18] handwerkerd commented on #835
I just finished updating the meeting agenda. There are some discussions to have, but this doesn't look like a meeting with lots of code & PRs to discuss. It's almost as if December and January were busy and over-whelming for a lot of us.

If I missed or under-prioritized something, please adjust!

[2022-01-20 07:20] AaronAngJW commented on #717
Hi there,

I've recently tried to run the collect_fmriprep() script on https://tedana.readthedocs.io/en/stable/faq.html#collecting-fmriprepped-data but I could not successfully retrieve the required files needed.

For me, the only output seen was the string "_Wrangling subject n_" and then the script ended almost instantaneously. Any guidance on this?

[2022-01-20 14:40] tsalo commented on #717
While I understand why you might not want to re-run fMRIPrep on your data, fMRIPrep 21.0.0 does have an option to output the semi-preprocessed echoes (`--me-output-echos`). Given that your situation reflects an edge case, I think it would be best to open this as a `tedana`/`fmriprep`-tagged usage question on NeuroStars instead of here.

[2022-01-20 16:22] handwerkerd opened #836 "Switch from gitter to mattermost"
### Summary

At the January Dev call (#835) we agreed to switch from gitter to mattermost.

### Next Steps

- [x] Share the link to the correct mattermost channel with the current developers
- [ ] Change all references in the documention to gitter to mattermost, including the badge on readthedocs
- [x] Post a message on the gitter channel noting it's deprication & pointing to the mattermost channe

[2022-01-20 16:35] tsalo commented on #836
Here's the Mattermost channel link: https://mattermost.brainhack.org/brainhack/channels/tedana

[2022-01-31 02:38] #835 closed

[2022-02-08 17:16] handwerkerd opened #838 "Fix the rendering for citations on readthedocs"
### Summary

I just noticed that the JOSS paper isn't listed in the citations on https://tedana.readthedocs.io/en/stable/ I was just going to add it, but I looked at index.rst and the reference is there, but it's not rendering. For some reason all the references are indexed as "1."  I don't see anything obviously wrong in the html, but I'm obviously missing something.

### Additional Detail

The t

[2022-02-08 20:37] notZaki commented on #838
Does this page look better? https://tedana.readthedocs.io/en/latest/

My guess is that the `stable` page is pointing to the latest release (Sep. 30) and it didn't include the JOSS paper, so it's rendering [[this version of index.rst]](https://github.com/ME-ICA/tedana/blob/4d5c6456d66c6badea7aa3730130756db286a52d/docs/index.rst)

[2022-02-08 21:10] handwerkerd commented on #838
That looks like the issue. This is good motivation to push another release soonish.

FWIW, I'm seeing another rendering issue that's both in the stable and latest releases:
<img width="307" alt="image" src="https://user-images.githubusercontent.com/7406227/153075471-67616d50-958f-4abf-963c-68592865d033.png">
I've played around a bit and rst doesn't seem to like the slanted quotes with letters on b

[2022-02-08 21:13] tsalo commented on #838
I tried to fix that a while ago, but couldn't find a great solution. I think the easiest move is to have spaces separating the "code" and "non-code" portions of the words.

[2022-02-08 21:26] handwerkerd commented on #838
I'm mildly happy there isn't an obvious solution to the rendering quirk. It's not a pretty, but
TE DEpendant ANAlysis (`tedana`)
is a simple replacement that properly renders.

[2022-02-08 22:04] notZaki commented on #838
If the goal is to get something that looks like this:
``TE``-``de``pendent ``ana``lysis (``tedana``)
then try:
[code]

[2022-02-08 22:14] handwerkerd commented on #838
Great. I just pushed the formatting option to #840

[2022-02-15 15:01] handwerkerd opened #841 "February Developers' call. THURSDAY, 2/17/2022"
Our next dev call is scheduled for THURSDAY, 2/17 at 4:00 PM CET / 10:00 AM EDT / 2:00PM UTC / 7:00 AM PST
[Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+Feb+2022&iso=20220217T10&p1=263&ah=1)
If you'd attend, but our regularly time is a problem let us know!

https://nih.zoomgov.com/j/1617695906?pwd=cjh1UGRkMStlcUZQN0ZlVXdueGtJZz09
Meeting ID: 161 7

[2022-02-15 21:13] tsalo commented on #806
@handwerkerd Have you had a chance to acquire any EPTI data?

[2022-02-16 21:01] #838 closed

[2022-02-16 21:01] #803 closed

[2022-02-17 03:22] handwerkerd commented on #806
Not yet. I'm working on another acquisition project now, but I should follow up on at least getting some EPITI data.

[2022-02-17 17:38] #26 closed

[2022-02-18 14:27] eurunuela opened #843 "Change default maPCA option to AIC"
### Summary

After discussion at our last meeting, and considering the number of questions re maPCA on Neurostars, we should probably change the default maPCA criterion to AIC (the most conservative). This way, users will get more components in what should give a more similar solution to the kundu_stabilize option.

### Next Steps

- Change maPCA criterion to AIC.
- Update test results.

[2022-02-18 14:49] #836 closed

[2022-02-18 16:50] aryangupta701 opened #844 "Installation instructions do not work for Windows machines"
Hello,

I am getting errors while using the command "pip install -e .'[all]'"
Can anyone help me to fix this please, I want to contribute to this project.

Thankyou

[2022-02-18 16:51] tsalo commented on #844
Can you post the traceback?

[2022-02-18 16:53] aryangupta701 commented on #844
ERROR: Invalid requirement: '[all]'
I get this error

[2022-02-18 17:00] tsalo commented on #844
I can't reproduce locally, so maybe it's a version or path issue. Let's see if we can diagnose the problem.

- Where are you running this command from? Is it from the tedana directory?
- Is your local copy of tedana up-to-date with `main`?
- What version of PyPi are you using?
- What version of Python are you using?

[2022-02-18 17:09] tsalo commented on #844
Yes, but in what location on your filesystem did you run the command?

Maybe it's an OS issue. What operating system are you using?

Lastly, can you try `pip install -e .[all]` (no single quotes around `[all]`).

[2022-02-18 17:24] aryangupta701 commented on #844
yes this worked thanks a lot.

[2022-02-18 17:30] tsalo commented on #844
Are you using a Windows machine by any chance? I'd like to make sure our installation instructions work for all operating systems, so we may need to update them if they don't work for Windows machines.

[2022-02-18 17:32] aryangupta701 opened #845 "Update Contributing.md file"
hello,
In contributing.md file at the place where " pip install -e .'[all]'' is written there should be one more line written , if it did not work try using "pip install -e .[all]"

[2022-02-18 17:36] aryangupta701 commented on #844
Yes I am using a windows 11 machine

[2022-02-18 17:38] tsalo commented on #844
Thank you.

@ME-ICA/tedana-devs do any of you use a Windows machine? Can you reproduce the behavior @aryangupta701 reported with `pip install -e .'[all]'`?

[2022-02-18 18:34] handwerkerd commented on #844
Welcome @aryangupta701 ! I don't have easy access to a Windows computer right now so I can't help directly. This sounds like a really important issue to resolve.

[2022-02-18 19:25] eurunuela commented on #844
My colleague @vinferrer has a Windows I believe. We could have a look on Monday.

[2022-02-22 10:27] eurunuela opened #848 "Denoising with manual classification is not transparent enough"
### Summary

We should make [denoising with the manual classification](https://tedana.readthedocs.io/en/stable/usage.html#Arguments%20for%20Rerunning%20the%20Workflow) more transparent so that users know exactly what tedana is doing. Currently, tedana does not update the component figures (it should probably output a new folder with new images), nor does it say that the manual classification is be

[2022-02-22 15:32] eurunuela commented on #800
Is this issue still a thing?

[2022-02-22 15:49] tsalo commented on #800
I believe so.

[2022-02-22 19:10] Cristina-Tobias commented on #844
I have tried installing tedana both ways in my Windows laptop. It has only worked without the single quotes

[2022-02-22 19:14] tsalo commented on #844
What about `pip install -e '.[all]'`?

[2022-02-22 19:15] Cristina-Tobias commented on #844
It showed this error message : `ERROR: .'[all]' is not a valid editable requirement. It should either be a path to a local project or a VCS URL (beginning with svn+, git+, hg+, or bzr+)`

[2022-02-22 19:15] eurunuela commented on #844
That didn't work. We're gonna have to update our docs.

[2022-02-22 19:16] tsalo commented on #844
No, not `.'[all]'`. `'.[all]'`.

[2022-02-22 19:22] Cristina-Tobias commented on #844
Sorry. I have tried it again with `'.[all]'` and it shows the same error message

[2022-02-22 19:26] tsalo commented on #844
Thank you @Cristina-Tobias, that's really helpful for nilearn too.

@aryangupta701 we can follow up in #846 about how specifically we should update the installation instructions.

[2022-02-22 22:38] tsalo commented on #848
I agree that we could always improve our documentation, although I'm not sure about the specific issues this person reported. Is it possible they were using an older version of tedana?

We actually do log that manual classification is being performed in both the logger (which feeds to the tedana.tsv file) and the boilerplate report.

https://github.com/ME-ICA/tedana/blob/eaa0920f9f45f4eea0e2ab5f9e

[2022-02-23 16:55] eurunuela commented on #848
We might want to add some checks. It's the easiest way to rerun tedana after Rica.

[2022-02-23 21:14] jreithler commented on #848
Thanks both for looking into this!

The test referred to above was done using tedana v0.0.11, but indeed without --manacc, as I figured the RICA *.tsv already included the updated component classifications. The resulting tedana *.tsv then does state that the supplied mixing matrix is used, but as far as I could see does not report that the manually classified components are taken into account. Sim

[2022-02-25 08:42] eurunuela commented on #848
Thank you @jreithler. I will open a PR to make sure the non-manacc option works just as well.

[2022-02-25 17:46] tsalo commented on #845
Rather than opening a separate issue, I would recommend just adding a comment with "next steps" to the original issue (#844) in the future.

[2022-02-25 20:34] #841 closed

[2022-03-01 16:11] eurunuela opened #851 "It is not clear how to use Rica's component table to rerun tedana"
### Summary

This issue is a result of [this post on Neurostars](https://neurostars.org/t/question-about-rica-tedana-manual-ica-classification/21654/11?u=e.urunuela). Folks are finding it difficult to know how to use the component table created by Rica to rerun tedana.

### Next Steps

- Add a note to the [Arguments for Rerunning the Workflow](https://tedana.readthedocs.io/en/stable/usage.html#Arg

[2022-03-03 16:07] tsalo opened #853 "SameFileErrors when re-running with the same output directory and component table"
### Summary

This issue arises from [this NeuroStars post](https://neurostars.org/t/question-about-rica-tedana-manual-ica-classification/21654).

### Additional Detail

The bug arose with the following command. I added the newlines for readability. I'm not sure if they would cause problems in a Windows machine.

[code]

The command resulted in the following error:

[code]

I have #850 open, but it

[2022-03-09 16:29] eurunuela opened #854 "Reclassifying accepted to rejected raises an error when using Rica's ctab but not manacc"
### Summary

The main goal of Rica is to make manual classification easier, and that involves making tedana easier to rerun. Currently, it is possible to rerun tedana without the `--manacc` option using Rica's component table with `--ctab`. However, when an accepted component is rejected with Rica, tedana fails to generate new component figures and raises an error. The error comes from the fact th

[2022-03-10 17:31] tsalo opened #856 "Memory issue reported with nonlinear T2* estimation in fMRIPrep"
### Summary
At least one user has reported issues with using fMRIPrep with low-memory processing on multi-echo data, as the T2* estimation step ends up being killed.

This stems from https://github.com/nipreps/fmriprep/issues/2728.

### Additional Detail
Here's the traceback:

[code]

### Next Steps

I'm thinking that we could extend the scope of the `low_memory` option to also trigger some kind o

[2022-03-15 19:48] jsheunis commented on #684
Hi everyone! Have there been any more steps towards collecting sources for processed derivatives of open multi-echo datasets? I know of the Cambridge one that @notZaki linked to above, but haven't come across any others yet. I'm building a datalad dataset to include raw and derived multi-echo datasets (see https://github.com/ME-ICA/multi-echo-data-analysis/issues/13) and would love to make it as c

[2022-03-15 21:02] #854 closed

[2022-03-15 21:52] tsalo commented on #684
I'm in the process of fMRIPrepping Le Petit Prince for #785, and I've already done "Multi-echo masking test dataset" for #783.

[2022-03-15 22:17] jsheunis commented on #684
Great, thanks!

Are the updates available on Openneuro or did you only adapt them locally? In the former case, I probably have the latest version already available in the datalad dataset. In the latter case, are you able to push the updates to OpenNeuro?

[2022-03-16 01:48] handwerkerd opened #857 "March Developers' call. Thursday, 3/17/2022"
Our next dev call is scheduled for Thursday, 3/17 at 4:00 PM CET / 10:00 AM EDT / 2:00PM UTC / 7:00 AM PST
[Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+March+2022&iso=20220317T10&p1=263&ah=1)
If you'd attend, but our regularly time is a problem let us know!

https://nih.zoomgov.com/j/1611947107?pwd=aHVOQTBMYWVkNmE0cnR4d3ZkYmd5UT09
Meeting ID: 161

[2022-03-16 18:11] tsalo commented on #684
I had to edit both of those datasets locally. Perhaps @emdupre can push the necessary changes to her dataset, but none of us has write permissions for Le Petit Prince.

@emdupre, I believe that the only problem with your dataset is that the T1w volumes need to be squeezed from 4D to 3D. Also, `sub-16` only has partial physio data, but I didn't see a note about that in the README.

[2022-03-16 18:28] #843 closed

[2022-03-16 21:55] emdupre commented on #857
Just confirming that I _won't_ be at this meeting tomorrow since it's 7a local time :disappointed:  I'll catch up from the minutes and try to coordinate a discussion about shifting the time for future meetings (so there's a bit more heads up).

Since @eurunuela will be on the East Coast starting next month (?!) -- at least for a few months -- maybe once he's settled we could aim to re-schedule the

[2022-03-16 21:59] emdupre commented on #684
I'll check if my access is current and get this updated ! Thanks for the edits :pray:

[2022-03-16 22:21] eurunuela commented on #857
I'll be on the East Coast from mid May to mid August. Feel free to reschedule April's meeting too, it will probably be on our Eastern break.

[2022-03-17 09:58] eurunuela opened #858 "Object of type ndarray is not JSON serializable"
### Summary

This issue is the result of a failing test in #839 as reported by @handwerkerd: https://github.com/ME-ICA/tedana/pull/839#issuecomment-1069523729

It looks like our `save_json` function is having trouble saving a numpy array to the json dictionary.

### Next Steps

As mentioned by @tsalo, we might need to automatically convert numpy arrays to lists in `save_json`.

[2022-03-17 15:35] dowdlelt opened #860 "Make kundu tedpca selection results more accessible"
### Summary
The # of components selected by `--tedpca kundu` is currently invisible to the user if it is not selected.

### Additional Detail
#834 adds curves for MAPCA, which allows users to see how unselected options perform without running the full tedana pipeline. It would be nice if the number of component selected by the kundu option were shown to the user and even better if these details we

[2022-03-17 17:16] #857 closed

[2022-03-21 19:30] madisoth opened #861 "Revisiting #230 - incorporate decay curve fit information into workflow"
### Summary
We're interested in how decay curve fits compare across subject age groups, from human neonates through adults. It would be great to output decay curve fit information including some or all of the measures proposed by @tsalo in the (now-closed) #230:

[2022-03-25 10:03] CesarCaballeroGaudes opened #862 "Create a CLI option that allows for user-defined mask instead of adaptive_mask for denoising"
### Summary

Create a CLI option that allows to use a user-defined mask for denoising purposes instead of using the default adaptive mask.

### Additional Detail
We are observing that the adaptive mask does not include the subcortical regions in multiple datasets but in some cases the user might want to still denoise these voxels, and prefer to use their own mask (previously computed).

### Next S

[2022-03-28 13:51] CesarCaballeroGaudes commented on #862
I agree. I was suggesting that the denoising is applied to the voxels within the mask defined by the user, but the rest of the process and the classification can be done with the mask that requires a minimum of 3 echoes. I think it could add some flexibility.

[2022-03-28 14:34] tsalo commented on #862
I believe the changes I made for a paper I'm working on (in #837) essentially do that.

[2022-03-28 14:35] handwerkerd commented on #862
This request seems to be a special case for a potentially more useful parameter. Right now, the adaptive mask is calculated in ./tedana/utils.py/make_adaptive_mask:
https://github.com/ME-ICA/tedana/blob/65e8ddfe54ecd06dfc3ec3e3da1e4284971a1e30/tedana/utils.py#L79-L86
In that code, we have two hard-coded values:
1. For the shortest TE echo, we identify the voxel with the 33rd percentile magnitude:

[2022-03-28 15:35] afni-rickr opened #863 "feature request: tedana --test-deps"
It is easy to generate processing streams that will run tedana in many different environments.  But for tedana to actually compute results, the python version must be at least 3.6 (I believe), and come with some dependencies.
It would be very helpful if there were an option to tedana to verify that the dependencies seem to be met (at least the easily testable ones).
Please consider adding an optio

[2022-03-28 15:39] jbteves commented on #863
People who install tedana with pip should get some sort of error message if a dependency is missing. Is there a case we're missing where this would be useful? This would be helpful for us to generate some tests and code.

[2022-03-28 15:40] #848 closed

[2022-03-28 15:48] afni-rickr commented on #863
The installation with pip might go very well.  But particularly for the (common?) case of varying conda envs, one might not (still) be in the environment where tedana will work.  This might be the case for users on an HPC system, or for anyone that needs to switch environments to handle varying needs of software.
It would be nice to be able to run a shell command to verify that one seems to be in

[2022-03-28 16:38] jbteves commented on #863
You can run `tedana -h`, which would return a non-zero exit code if the dependencies cannot be imported (because the __init__ will be called, and fail if the imports fail). For example, if I uninstall `nibabel` and then attempt to run `tedana -h` I get this error:
[code]
even though `nibabel` is not explicitly imported in the workflow, since it is a dependency of other imported modules.

What adva

[2022-03-28 17:41] afni-rickr commented on #863
My pip-installed "tedana -h" runs successfully in an environment that does not have most of the dependencies.  That was actually my first test, which would indeed would have been sufficient.
Oooooh...  tedana invokes python via an absolute path, overriding the current env.
Crawling down that rabbit hole, tedana in fact runs to completion merely by putting the conda tedana bin in my path.  And the

[2022-03-28 18:28] jbteves commented on #863
Alright, glad you made it into the rabbit hole and back!

[2022-03-28 18:28] #863 closed

[2022-03-28 19:57] CesarCaballeroGaudes commented on #862
Thanks @tsalo for the code. Indeed, it does what we intended to do.

I like @handwerkerd 's suggestions, particularly the  `-1` case. @eurunuela and I will try to implement it.

[2022-03-29 13:35] eurunuela commented on #862
After a couple of hours looking through the code we realized that our issue was not in the creation of the adaptive mask, but on [the mask that nilearn creates](https://github.com/ME-ICA/tedana/blob/f42ba63829e1aa060b2be9bf2f9d72903c4714a6/tedana/workflows/tedana.py#L579) with `compute_epi_mask()`.

We don't have any issues when we provide our own mask with `--mask`. Actually, I wonder if this is

[2022-03-29 18:16] handwerkerd commented on #862
@eurunuela Just to clarify, are you saying that this issue is resolved if you use the existing `--mask` option? If so, maybe we can move some of this discussion in adding flexibility to the masking into #837 and close this issue?

I do think there's a benefit to allowing a user-defined mask because a user might want to set extra criteria  that we don't want to have to deal with. For example, they

[2022-03-29 18:32] eurunuela commented on #862
That seems to be the case for us. We only tested on one session, but I'll know about the rest of the dataset tomorrow.

Happy to move the discussion re flexibility to #837.

I also wonder if @tsalo used `compute_epi_mask()` for his analysis in #827, and if so, whether using --mask solves the issue.

[2022-03-30 03:38] handwerkerd opened #864 "Decision tree modularization walk through"
### Summary

As discussed at our dev call, we'll have a separate meeting to walk through the current metric modularization code in #756

The meeting is scheduled for this Thursday, 3/31 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST
[Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+modularization+walkthrough&iso=20220331T11&p1=263&ah=1)

### Meeting

[2022-03-30 16:11] tsalo opened #865 "Add minimally-processed Spreng dataset to datasets module"
### Summary

A dataset we may want to include in the new datasets module is [Neurocognitive aging data release with behavioral, structural, and multi-echo functional MRI measures](https://openneuro.org/datasets/ds003592).

### Additional Detail

We will need to process this dataset with fMRIPrep.

This dataset also has cardiac and respiratory data, which could be useful.

### Next Steps

1. Determ

[2022-03-30 16:14] tsalo opened #866 "Add information about Spreng dataset to documentation"
### Summary

The [Neurocognitive aging data release with behavioral, structural, and multi-echo functional MRI measures](https://openneuro.org/datasets/ds003592) dataset has 301 subjects and two runs of three-echo resting state data spread across two sessions. There's also physio data.

### Next Steps

1. Add link to Spreng dataset to tedana's multi-echo datasets section.

[2022-03-30 16:21] tsalo commented on #785
I have finally finished preprocessing Le Petit Prince. I think everything's good, though I haven't had a chance to do QC.

@jsheunis do you want me to put it anywhere in particular for [multi-echo-super](https://github.com/jsheunis/multi-echo-super)?

[2022-03-30 19:17] jsheunis commented on #785
@tsalo wherever you prefer is good. To build it into a datalad dataset, all we need would be a list of file paths and their access URLs (e.g. the content of [this csv file](https://github.com/jsheunis/multi-echo-super/blob/main/code/cambridge_manifest.csv)), assuming that the location of these files will remain constant (at least for a while). For the cambridge derivatives on OSF, I got that info

[2022-03-31 16:14] handwerkerd opened #867 "Time shift for April 21, 2022 Dev call"
Our next Dev call is scheduled for April 21. Now that we have a contributor in the PST time zone, 7:00AM calls are not ideal. Unless there are any objections, we will have the April meeting at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+April+2022&iso=20220421T11&p1=263&ah=1) and will discuss

[2022-03-31 17:07] tsalo commented on #785
The OSF is limited to 50 GB per public projects, so I would have to split the derivatives across 10 projects. Does anyone know of a good alternative?

[2022-03-31 18:58] jsheunis commented on #785
What about GIN?

[2022-03-31 20:02] handwerkerd commented on #785
I can't think if any. I don't think any fully open system is set up to day all outputs & intermediate files from a processing pipeline right now. If this is for eventual output testing, we can save everything for one or two subjects and then save a more minimal set for everything else. For example, the original data is already shared. If we share the mixing matrices, component table, you could pot

[2022-04-01 21:21] handwerkerd opened #868 "Orthogonalizing rejected components permanently alters the ICA mixing matrix"
### Summary

As @jbteves and I work on the decision tree modularization, I noticed a problematic design choice. The `--tedort` option orthogonalizes the rejected components, which is a conservative way to remove rejected signal. The way it is done is by altering time series for the rejected ICA components in the mixing matrix `mmix` That means, if we look at reports, we can no longer see the compo

[2022-04-01 21:28] tsalo commented on #868
Isn't the orthogonalized mixing matrix written out after the original one is? And to a different file (i.e., `desc-ICAOrth_mixing.tsv` instead of `desc-ICA_mixing.tsv`)?

[2022-04-03 01:52] handwerkerd commented on #868
I just looked at this more carefully and checked the outputs. Your correct. I wanted to open this issue while it was on my mind, but I should have checked a bit more first. This aspect of the code is confusing and it might be worth cleaning up, but that's more of a refactor than a bug. I'll close this issue for now.

[2022-04-03 01:52] #868 closed

[2022-04-03 15:43] tsalo commented on #785
I'll give GIN a shot. I recall that we looked at it at one point, but I had trouble using it. Is there a Singularity image that would make it easy to upload from an HPC with minimal knowledge?

That's probably the primary use case, but it would also be great to have these data for examples, tutorials (like the Jupyter book), and methods development. I guess uploading only the ICA derivatives can b

[2022-04-04 18:31] jbteves opened #869 "Markup not found when running pip-installed tedana"
### Summary
On an RHEL 7 system, running
[code]
and results in the following when trying to confirm the installed version number:
[code]
@pmolfese brought this to my attention.

### Additional Detail
Tried new conda env, completely fresh, issue persisted. I tried the same thing, found that Markup was not in the manifest of installed packages, however, MarkupSafe was. Turns out that what happened w

[2022-04-04 22:08] emdupre commented on #865
cc @rsetton and @lmwilambwe, in case they happen to have a preprocessed version of this dataset available that could be added to OpenNeuro ! :smile_cat:

[2022-04-12 19:21] tsalo commented on #861
I'm sorry for not following up sooner. I agree that having some measure of fit would be great. I tried to implement R-squared maps as part of the adaptive masking procedure in #548, but the results always seemed wrong. Do any of those measures seem particularly useful to you, and would you be willing/able to implement them?

[2022-04-13 19:56] #869 closed

[2022-04-14 13:41] jbteves commented on #196
I would like to reopen this issue as a few more NIH users have reported concern over duecredit. It's a small dependency relative to our other dependencies and I feel that if we want to use it we should just require it.

[2022-04-14 14:15] jbteves commented on #196
They just ask me if it's supposed to be there.
At this point I value a few megabytes of data and a line of requirements to be less important than having users ask me if it's okay, even though it says it's okay. I will concede that, to their credit, usually "not successfully"/"Failed to" juxtaposed with "functionality unaffected" is a little confusing.

[2022-04-14 14:17] tsalo commented on #196
Fair enough. I agree that it's a very minor requirement, and it won't cost us anything to add it.

[2022-04-14 14:54] jbteves opened #872 "[MAINT] Change setup configuration"
### Summary
The setup for python packages has changed over the last few years. There is now the option of a `pyproject.toml` (which tools like `poetry` use), a `setup.cfg` (which is what pip is designed to use), and there is now a circular dependency from `info.py` if we leave `duecredit` there but wish to remove `due.py`. We should refine the setup configuration.

### Next Steps
- [ ] Pick which

[2022-04-14 14:56] jbteves commented on #872
I'm personally quite partial to the `toml` format as it's gaining popularity for package management and is incredibly clear, especially since we already have one with indications for `black` and `isort`.

[2022-04-19 19:31] #864 closed

[2022-04-19 19:37] handwerkerd commented on #867
I've now added an agenda to the initial comment. Meeting this Thursday!

[2022-04-20 16:55] handwerkerd commented on #867
It looks like @tsalo and @eurunuela both cannot attend tomorrow. Given they're a substantial portion of our active developers (and tomorrow is a bit busy for me as well) opinions on postponing? I'd like to have at least one meeting before OHBM poster submission on May 9th... either 4/28 or 5/5.

[2022-04-20 16:57] jbteves commented on #867
I think postponing is best.

[2022-04-26 18:54] #844 closed

[2022-04-28 16:00] tsalo opened #873 "Enhance reports with BibTeX citations"
### Summary

Per today's call, we probably will be dropping duecredit soon. In the interest of making our reports as useful as possible (especially in the absence of references from duecredit), we should probably enhance our boilerplates with BibTeX references.

### Additional Detail

Two elements that would be great are:
- A single BibTeX file that is simply referenced throughout the library.
- R

[2022-04-29 13:47] #872 closed

[2022-05-03 20:17] handwerkerd opened #876 "understanding variance and normalized variance explained"
### Summary

I went down a bit of a rabbit hole on the calculations for variance explained and normalized variance explained. The core observation is that the calculations underlying these values vary slightly depending which method is used. I’m not sure if anything is wrong, but we can definitely improve clarity in the code and/or docs. One thing I'm fairly sure about is that that variance explai

[2022-05-04 13:17] #858 closed

[2022-05-13 02:00] #876 closed

[2022-05-17 12:54] eurunuela commented on #862
I forgot to update you on this. We ended up using the `--mask` option to recover subcortical regions.

Going to close the issue.

[2022-05-17 12:54] #862 closed

[2022-05-17 14:30] #834 closed

[2022-05-17 14:45] handwerkerd opened #878 "May Developer's call. 5/19"
Our next dev call is Thursday, 5/19 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+May+2022&iso=20220519T11&p1=263&ah=1).

I haven't put together an agenda yet, but at minimum, I'll share a poster draft in advance, which will include a rough roadmap for the project, which is worth some discus

[2022-05-19 04:23] handwerkerd commented on #878
A link to the draft poster is now in the initial comment.

[2022-05-19 12:35] benoitberanger commented on #370
Hello,

It's been a while !
I never encountered this problem in ~3 years of usage of TEDANA. And v0.0.7 is very old comapred to the cycle of development and release.
Since the problem never occurred, I'm closing the issue.

Best,
Benoît

[2022-05-19 12:35] #370 closed

[2022-07-19 12:29] CPernet opened #881 "CFF"
Since there is no direct paper to the toolbox, any of you guys wanna add a citation.cff so we can reference your awsome tool properly ... https://citation-file-format.github.io/ that would be great - thx

cff-version: 1.2.0
message: "If you use this software, please cite it as below."
authors:
  - family-names:
    given-names:
    orcid:
title: "tedena: TE Dependent ANAlysis"
version: 2.0.4
date-

[2022-07-19 12:35] tsalo commented on #881
This is something we have been discussing in #820, but the problem is that the CFF format doesn't currently support multiple citations very well, which is a problem when we want folks to cite both the JOSS paper and the appropriate version-specific Zenodo DOI. I believe that it's possible to include multiple citations in the CFF file, but GitHub will ignore everything after the first one.

[2022-07-19 15:26] handwerkerd opened #882 "July 2022 Developers' call. 7/21"
Our next dev call is Thursday, 7/21 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+July+2022&iso=20220721T11&p1=263&ah=1).

Agenda: https://docs.google.com/document/d/1fuRd2SKk4tR02yZkdKa6sJohlRLy3f3lqsjJEO_1MKY/edit?usp=sharing
There are my key parts. Comment here or on the agenda if I'm mis

[2022-07-21 19:23] n-reddy opened #883 "Add Rica documentation"
### Summary
Rica is not mentioned in the documentation as a tool to help with manual classification of ICA components.

### Additional Detail
Somewhat related to / precedes #851 regarding Rica documentation.

### Next Steps

- Add Rica to the documentation, potentially under [TEDICA](https://tedana.readthedocs.io/en/stable/approach.html#tedica) and/or [this FAQ section](https://tedana.readthedocs.

[2022-07-24 16:04] tsalo commented on #820
Closing this in favor of discussing in #881.

[2022-07-24 16:04] #820 closed

[2022-07-26 13:06] tsalo commented on #881
I am still concerned for a few reasons:

1. Even though your CFF file has multiple references, even selecting the BibTeX option in "Cite this repository" doesn't export those references. In practice, does anyone actually cite those additional papers? It seems like giving folks an easy alternative to the method boilerplates you have in the `limo_tools` wiki (which _do_ have all of the necessary ref

[2022-07-26 14:17] handwerkerd commented on #881
I guess I'm the grumpy elder here who thinks that, if you're using software you should at least read enough of the documentation to know what they ask you to cite. Standardized formats can make this easier, but they also risk hurting reproducibility if they automatically generate reference lists without making a researcher think about what each of the references are.nThis is a long way of saying I

[2022-08-12 14:22] #873 closed, assigned to nobody

[2022-08-12 14:29] #882 closed

[2022-08-16 13:29] handwerkerd opened #884 "August 2022 developers call"
We are scheduled to have a developer's call this Thursday, August 18. Based on people's availability, I vaguely remember we decided to skip, but it's not in the July dev call notes.

I am available and I can at least give an update on decision tree modularization (good progress!).

Leave a 👍 if you would attend and a 👎 if you wouldn't. If we can get at least 4 people, it's probably worth having. I

[2022-08-16 18:46] handwerkerd commented on #884
We have 4 people so the meeting is on. I'll make an agenda & post a link on Wednesday.

[2022-08-18 03:14] handwerkerd commented on #884
Our developer's call is on for this Thursday, August 18th at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+August+2022&iso=20220818T11&p1=263&ah=1).

Agenda/Notes: Since we have a limited attendance, it's currently focusing on what I've been doing (finishing the decision tree modularization) bu

[2022-08-29 17:56] #884 closed

[2022-09-08 08:42] eurunuela commented on #785
Any update on this @tsalo? I may be interested in using the dataset to validate a method I'm working on.

[2022-09-08 13:32] tsalo commented on #785
Sorry, I guess I only followed up in the `multi-echo-super` issue. I believe I successfully pushed the derivatives to https://gin.g-node.org/ME-ICA/ds003643-fmriprep-derivatives.

[2022-09-09 10:37] eurunuela commented on #785
This is great. Thank you!

[2022-09-13 13:58] handwerkerd opened #886 "September 2022 developers call"
Our next dev call is Thursday, 9/15 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+September+2022&iso=20220915T11&p1=263&ah=1).

Agenda: https://docs.google.com/document/d/1cqQ0K3ECftI8i6KHNTc0HKpKuUnvQ3-Cn0z9ZDGB_iE/edit?usp=sharing

https://nih.zoomgov.com/j/1612146326?pwd=ZzNORGM5bmZ5dmlkc

[2022-09-13 15:35] handwerkerd opened #887 "inconsistent version numbers"
### Summary

@jbteves @n-reddy and I are working on comparing results between branches. When we type `tedana --version` on the same branch we all get the same hash but different version numbers.

### Additional Detail

For example, the three of us are all looking at https://github.com/jbteves/tedana/tree/JT_DTM/ which is #756. Our outputs for `tedana --version` are:
Josh: `tedana v0.0.11+44.ge60f8

[2022-09-13 19:24] notZaki commented on #887
Maybe try updating the tags
[code]
and then seeing how the version updates

[2022-09-13 19:33] handwerkerd commented on #887
That updated the version number for me. Thank you!
Is there a way to update the tags when people pull or is this just inherent to the way github/git is set up?

[2022-09-15 15:13] #762 closed

[2022-09-15 19:12] handwerkerd opened #888 "Improve summaries and visualizations of results with modularized decision tree"
Write code to automatically create a flow chart or other summary/visualization for a decision tree. This can also be used to make a run-specific visualization that shows how components were reclassified at each node of the decision tree.

### Summary

The decision tree modularization (#756) is getting close to done. The "Decision Tree" is the series of steps through which each ICA component is cla

[2022-10-03 10:36] eurunuela commented on #845
I believe we can close this issue. It seems to be resolved in #844.

[2022-10-03 10:36] #845 closed

[2022-10-14 15:18] andreifoldes opened #889 "Additional fields in dataset_description.json identifying source files"
### Summary
I think it would be very useful to have information about which source files Tedana was applied to in the dataset_description.json file perhaps for posterity. When conditions/sessions are relabeled it's easy to make mistakes/have uncertainty about what were the underlying files involved in a making the specific files.

### Additional Detail

### Next Steps

[2022-10-14 15:50] tsalo commented on #889
I agree that tracking the files is a good idea. However, the source files need to be set in the individual derivatives' sidecar files (which I don't believe we generate yet), while the dataset_description should have the source dataset's link.

I'm currently working on tracking this information in another package, and it can be surprisingly difficult.

[2022-10-14 17:46] andreifoldes commented on #889
Yes, I'm using 0.0.12 tedana and the only json files are the metrics/decomposition sidecars and the dataset_description.
So ideally this information would in be the output specific sidecars? If there would be a field storing the echo-wise preprocessed files and mask that would be great.

Since BIDS was mentioned: being able to pass "subject"/"session"/"task"/"space" fields to the tedana file names

[2022-10-14 17:58] tsalo commented on #889
Incorporating those fields would require extracting them from the incoming filenames, which basically would mean writing a BIDS interface and expecting BIDS-compliant inputs. We decided a while back to not make tedana a BIDS App; however, there might be room for a BIDS App wrapper _around_ tedana that would do what you're talking about.

[2022-10-19 12:23] handwerkerd opened #890 "October 2022 developers call"
Our next dev call is Thursday, 10/20 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+October+2022&iso=20221019T11&p1=263&ah=1).

I'll try to put together an agenda later today. I don't think there was a huge amount of work done in the past month so this could be a shorter meeting. If you have

[2022-10-19 12:23] #886 closed

[2022-10-19 20:22] tsalo commented on #890
Unfortunately, I failed to synchronize my two calendars, so I accidentally booked a meeting at this time. It's a one-off, so at least I'll be able to make future meetings at the same time. It should hopefully be a short meeting, so I'll try to join once it finishes.

[2022-10-19 23:38] dowdlelt commented on #890
Was going to add this to the agenda https://neurostars.org/t/tedana-v0-0-12-cant-read-metrics-tsv-file/23810

Some tool (like, software tool) doesn't like the rationale being `""` for accepted components. Would be an easy fix, of course, but didn't look past the current code.

[2022-10-20 12:48] tsalo commented on #890
It's BIDS-y to fill empty cells in TSVs with `n/a` anyway, so changing it absolutely for the best.

[2022-10-20 14:27] handwerkerd opened #891 "Save F_T2* and F_S0 maps"
### Summary

F statistics for fits of the multi-echo data to T2* and S0 models are calculated for use in various metric calculations. These used to be saved in meica, but, at some point we stopped saving them. @prantikk noted they can be useful outputs for quality checks and later steps so we should save them again.

[2022-10-20 14:33] tsalo commented on #891
Aren't they written out with the verbose option?

[2022-10-20 15:48] eurunuela opened #892 "Add "n/a" to accepted components rationale"
### Summary

This issue stems from the following neurostars post: https://neurostars.org/t/tedana-v0-0-12-cant-read-metrics-tsv-file/23810

### Next Steps

- Add na_rep='n/a' to to_csv calls.

[2022-10-20 16:15] handwerkerd commented on #889
@andreifoldes We just had our monthly developers' call and we discussed this issue. We are currently very close to merging a major change in the code: #756. As part of that change, there will be a new file `desc-tedana_registry.json` that lists identifiers and names for all outputted files. We weren't using that for input filename logging, but it won't be hard to add those file names, so that's ou

[2022-10-20 16:36] andreifoldes commented on #889
Yes, that sounds wonderful!

Indeed! I forgot to look at the` tedana_[date/time].tsv`!

[2022-10-20 16:52] tsalo commented on #891
Sorry, it looks like verbose doesn't write these out.

To do that, we need to just do a couple of things:

First, we add something like

[code]

to this section:

https://github.com/ME-ICA/tedana/blob/c7924b502dd89dbd8f9c5fbc4581763c36b9dab8/tedana/metrics/collect.py#L153-L161

Second, we need to add the new image labels to the IO generator's config files.

I also think it would be a good idea to

[2022-10-20 18:15] handwerkerd commented on #891
I noticed this was sitting as a scrape note from a dev call a few months back and wanted to move it to an open issue. I think we previously realized it wasn't even being saved as verbose. I'm mixed on additionally saving the DOF map. We're already saving the adaptive mask and it should be directly calculable from that file.

[2022-10-28 18:10] #890 closed

[2022-11-04 13:23] tsalo commented on #892
It looks like we already do this, actually:

https://github.com/ME-ICA/tedana/blob/4b44d55cf80f9658174b8724a4c4f86eaa75d150/tedana/io.py#L256-L269

[2022-11-04 13:25] tsalo commented on #891
Yes, the DOF map should be the number of volumes minus the adaptive mask.

[2022-11-04 13:37] tsalo commented on #892
I wonder if it's instead related to non-tab delimited within the cells, like the semicolons separating rationales.

[2022-11-04 16:08] prantikk commented on #891
In the old code, for the F_T2 F_S0 calcs,  the DOF is fixed to # of echoes
- did you make it dynamic against the # of valid echoes in a pixel for
tedana?

On Fri, Nov 4, 2022 at 9:25 AM Taylor Salo ***@***.***> wrote:

[2022-11-04 16:10] tsalo commented on #891
Yup, exactly. We started doing that in #358.

[2022-11-04 18:12] tsalo opened #894 "Add info on distortion across echoes to documentation"
### Summary
This stems from [this NeuroStars post](https://neurostars.org/t/multi-echo-pepolar-fieldmaps-bids-spec-sdcflows-grayzone/23933) by @bpinsard.

Here are some relevant bits from the thread:

@dowdlelt:

@handwerkerd:

[2022-11-08 21:34] tsalo commented on #196
#875 addressed this, so I'll close it now.

[2022-11-08 21:34] #196 closed

[2022-11-08 21:36] tsalo commented on #510
I think we can close this.

[2022-11-08 21:36] #510 closed

[2022-11-08 22:00] #717 closed

[2022-11-08 22:21] #784 closed

[2022-11-08 22:21] #787 closed

[2022-11-08 22:21] #788 closed

[2022-11-08 22:21] #789 closed

[2022-11-08 22:21] #790 closed

[2022-11-08 22:21] #866 closed

[2022-11-09 15:58] #830 closed

[2022-11-11 20:31] #891 closed

[2022-11-11 20:42] tsalo commented on #892
If it _is_ related to the semicolons, and the user was running the current version of tedana, then it sounds like bids-matlab isn't reading in delimited files correctly. If you specify that a tab-delimited file is tab-delimited, then you should be able to have other common delimiters (e.g., commas, semicolons) without issue.

[2022-11-16 02:18] handwerkerd opened #897 "November 2022 developers call"
Our next dev call is Thursday, 11/17 at 5:00 PM CET / 11:00 AM EDT / 3:00PM UTC / 8:00 AM PST [Check your time here](https://www.timeanddate.com/worldclock/fixedtime.html?msg=tedana+dev+call+November+2022&iso=20221117T11&p1=263&ah=1).

Agenda: https://docs.google.com/document/d/1XAI9evEEDlkOkkQVHnLJV6g5D1n8C26nTAYV5m2u8dU/edit?usp=sharing

https://nih.zoomgov.com/j/1619654703?pwd=RGlEYjdMdmRJbXhkM

[2022-11-17 14:36] handwerkerd opened #898 "Improve documentation on masking options"
### Summary

There have been several situations were the automasking that is built into tedana spectacularly fails. We should trace this down, but our sense is that many uses are providing their own masks anyway and that avoids this problem. We should add to the documentation make clear that this is a known issue that is resolved with user-provided masks.

### Additional Detail

- Based on convers

[2022-11-18 19:30] tsalo opened #900 "Mention dropping non-steady-state volumes in documentation"
Our documentation doesn't cover dropping dummy scans before running tedana. The gists we include for running fMRIPrepped data through tedana, for example, don't mention that users should probably identify the non-steady-state volumes from the fMRIPrep confounds file and drop those volumes from the echo-wise data before denoising.

_Originally posted by @handwerkerd in https://github.com/ME-ICA/ted

[2022-11-18 19:32] tsalo commented on #900
I also noticed that the non-steady-state volumes didn't cover all of the major spikes. This may be an issue for fMRIPrep, but it's worth noting on our side.

[2022-11-19 15:46] tsalo opened #901 "Include prefix in report, log, and figures"
### Summary
I've noticed that our current output structure doesn't work well if you want to run multiple tasks/runs from the same subject/session in the same output directory (i..e, a BIDS derivatives-like structure). If we ensure that the files _without_ prefixes have them, then  it should work fine.

[2022-11-19 17:36] tsalo commented on #892
Just to follow up from this week's meeting, the problem appears to be cells containing empty strings (`""`), rather than empty cells. @eurunuela asked us to hold off on addressing this, since it would be a very good GFI for someone at BrainHack Donostia.

[2022-11-19 18:18] tsalo opened #902 "Add information about Nashiro dataset to documentation"
### Summary

The [Heart rate variability biofeedback training and emotion regulation](https://openneuro.org/datasets/ds003823) has 3-echo fMRI, physio, ASL, MRS.... all sorts of cool stuff, basically.

### Next Steps

1. Add link to Nashiro dataset to tedana's multi-echo datasets section.

[2022-11-19 18:37] tsalo opened #903 "Add discussion template for tedana "consultations"?"
### Summary
We discussed using discussions for classification consultations. I think #899 was pretty successful (thanks @handwerkerd!), and hopefully the info I provided is sufficient and can be used as a template for future requests.

I _am_ concerned about us getting spammed with usage questions on these discussions, so I think we need to figure out how we want users to decide between opening a

[2022-11-19 18:40] tsalo commented on #383
This has been untouched for three years now. Can we update our pain points (I assume at least some have been addressed) and break this up into separate issues?

[2022-11-20 14:51] Kasambx commented on #902
Hey can I work on this.

[2022-11-22 01:42] tsalo opened #904 "Column names in orthogonalized mixing matrix do not match ones in metrics file"
### Summary
The `desc-ICAOrth_mixing` file has column names with ICA in lower case (e.g., `ica_00`), but the main mixing matrix and metrics files both use upper case column names.

[2022-11-22 01:44] tsalo commented on #902
@Kasambx absolutely. Check out #780 and #895 to get an idea of what we're looking for. Thanks!

[2022-11-22 14:20] awstanton opened #905 "Module is named after Python Built-In Module"
The "io.py" module is named after a Python built-in module.

This manifested as an issue when I tried running a custom workflow since it was trying to use the tedana io module in place of the Python io module.

I suggest renaming "io.py" to "imageio.py" (which I ended up doing) or something similar.

[2022-11-22 14:27] #817 closed

[2022-11-22 17:47] #897 closed

[2022-11-23 14:10] #904 closed

[2022-11-23 14:54] eurunuela commented on #700
Should we revisit this?

I think the new year (especially after merging #756) can be a good moment to start using a project board.

[2022-11-23 15:04] eurunuela commented on #648
Closing this as it no longer seems relevant.

[2022-11-23 15:04] #648 closed

[2022-11-23 20:00] emdupre commented on #900
@jmumford had also seen a case where not all non-steady-state volumes were flagged by fMRIPrep (or, rather, that it flagged a variable number across participants), so I'd say that the latter point is definitely on the fMRIPrep side.

I'd suggest that the tedana docs recommend that folks identify and drop non-steady-state volumes before running, but I don't think we should do any additional checks,